{% extends "base.html" %}

{% block content %}
<div style="display: flex; justify-content: center; align-items: center; height: 70vh;">
    <div style="text-align: center;">
        <h1 style="font-size: 40px; margin-bottom: 50px; text-decoration: underline;">Welcome To EncrypTalk!</h1>
        <p style="font-size: 25px;">EncrypTalk is a secure messaging web application that employs <br> End-To-End Encryption to mitigate data breach risks and <br> ensure the safety of sensitive data <br><br> Chats in this application are encrypted using AES-128 ECB</p>
        {% if current_user.is_anonymous %}
            <p style="font-size: 20px;">Register or login to get started!</p>
        {% endif %}
    </div>
</div>
{% endblock %}

