{% extends "base.html" %}

{% block content %}
<style>
    .title {
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
    }
    .container {
        display: flex;
        margin-top: 30px;
        align-items: flex-start; 
    }
    .chat-box {
        margin-left: 30px; 
        background-color: #181818; 
        padding: 20px; 
        border-radius: 20px; 
        box-shadow: 0 0 10px white; 
        height: 60vh;
        margin-right: 30px; 
        width: 100%;
    }
    h2 {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: 40px;
        text-decoration: underline;
    }
</style>

<div class="title">CHAT</div>

<div class="container">
    <div class="chat-box">
        <h2>{{ friend.firstname }} {{ friend.lastname }}</h2>
    </div>
</div>
{% endblock %}
