{% extends "base.html" %}

{% block content %}
<style>
    .title {
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
    }
    .container {
        display: flex;
        flex-direction: column; 
        align-items: flex-start;
        margin-top: 30px;
    }
    .chat-box {
        list-style: none;
        background-color: #181818;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 0 10px white;
        height: 55vh;
        width: 77%;
        overflow-y: auto; 
        margin-left: 200px;
        margin-right: 200px;
        font-size: 20px;
    }
    .chat-box li {
        margin-bottom: 10px;
    }
    .user-message {
        text-align: right;
    }
    .friend-message {
        text-align: left;
    }
    h2 {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: 40px;
        text-decoration: underline;
    }
    input {
        width: calc(100% - 80px); 
        font-size: 1.2rem;
        margin-left: 200px;
    }
    button {
        width: 80px; 
        padding: 8px;
        font-size: 1.2rem;
        margin-top: 10px;
        margin-left: 200px;
    }
    .form-container {
        display: flex;
        justify-content: flex-end; 
        margin-top: 10px; 
    }
</style>

<div class="title">CHAT</div>

<div class="container">
    <div class="chat-box" id="message-list">
        <h2>{{ friend.firstname }} {{ friend.lastname }}</h2>
        <!-- Messages will be appended here -->
    </div>
    <div class="form-container">
        <form id="message-form">
            <input type="text" id="message-input" autocomplete="off">
            <button type="submit">Send</button>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        var room_id = '{{ room_id }}';
    
        // Join the room
        socket.on('connect', function() {
            socket.emit('join_room', { room_id: room_id });
        });
    
        // Listen for messages from the room
        socket.on('message', function (data) {
            var messageList = document.getElementById('message-list');
            var li = document.createElement('li');
            if (data.sender === '{{ current_user.email }}') {
            li.className = 'user-message';
            } else {
            li.className = 'friend-message';
            }
            var decryptedMessage = data.message;
            li.innerHTML = decryptedMessage;
            messageList.appendChild(li);
        });
    
        // Listen for user joining the room
        socket.on('user_joined', function (data) {
            var messageList = document.getElementById('message-list');
            var li = document.createElement('li');
            li.innerHTML = data.message;
            messageList.appendChild(li);
        });
    
        // Handle form submission to send messages
        var form = document.getElementById('message-form');
        form.onsubmit = function (e) {
            e.preventDefault();
            var input = document.getElementById('message-input');
            var message = input.value;
            input.value = '';
            socket.emit('send_message', { message: message, room_id: room_id });
        };
    
        // Leave the room when the user navigates away
        window.onbeforeunload = function() {
            socket.emit('leave_room', { room_id: room_id });
        };
    });
</script>
{% endblock %}
